{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ food.name }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'orders/food.css' %}">
    </head>
    <body>
        <h1>{{ type.name }}: {{ food.name }}</h1>
        <ul>
            <li>Size: {{ food.size }}</li>
            <li>Price: {{ food.price }}$</li>
        </ul>
        <form action="{% url 'order' food.id %}" method="post">
            {% csrf_token %}
            <!-- <select name="passenger">
                {% for passenger in non_passengers %}
                  <option value="{{ passenger.id }}">{{ passenger }}</option>
                {% endfor %}
            </select> -->
            <div class="">
                  Number:
                  <input type="number" name="number">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Order Food"/>
        </form>
        <hr>
        <a href="{% url 'index'%}" class="btn btn-primary">Back to full listing</a>

    </body>

</html>
